<aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar2</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link  text-white" routerLink="/secondary4" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 4
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/secondary5" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 5
        </a>
      </li>
      <li>
        <a class="nav-link text-white" routerLink="/secondary6" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 6
        </a>
      </li>
    </ul>
  </aside>
