<aside class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 100%;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Sidebar1</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link text-white" routerLink="/secondary1" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 1
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="/secondary2" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 2
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="/secondary3" routerLinkActive="active" ariaCurrentWhenActive="page">
          Secondary 3
        </a>
      </li>
    </ul>
  </aside>